apiVersion: k0rdent.mirantis.com/v1alpha1
kind: ServiceTemplate
metadata:
  name: node-feature-discovery-0-16-1
  annotations:
    helm.sh/resource-policy: keep
spec:
  helm:
    chartSpec:
      chart: node-feature-discovery
      version: 0.16.1
      interval: 10m0s
      sourceRef:
        kind: HelmRepository
        name: k0rdent-catalog
